.header {
	width: 100%;
	display: flex;
	flex-flow: column;
	height: 115px;
}

.learn-nav {
	display: flex;
	justify-content: center;
	background-color: #ffb8b1;
	height: 45px;
	width: 100%;
}

.hover-part:hover {
	background-color: orange;
}

.learn-nav a {
	height: 45px;
	flex: 25%;
	text-align: center;
	line-height: 45px;
	font-weight: bold;
	font-size: 14px;
	color: #954a5c;
	display: flex;
	justify-content: center;
	align-items: center;
}

.learn-nav a i {
	font-size: 30px;
	margin-right: 8px;
}

.learn-nav a .text {
	margin-left: 8px;
}

.current {
	background-color: orange;
}

.main {
	height: calc(100vh - 115px);
	position: relative;
	justify-content: center;
}

.alphabet-nav {
	margin: 0;
	padding: 0;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
	width: 150px;
	height: 100%;
	list-style-type: none;
	font-weight: bold;
	font-size: 20px;
	color: white;
	text-align: center;
	z-index: 1;
	background: #d76262;
	overflow: hidden;
}

.alphabet-nav li {
	line-height: 30vh;
	height: 33.33%;
	width: 100%;
}

.alphabet-nav li:hover {
	background: #d81908;
}

.alphabet-table {
	display: block;
	margin: auto;
	flex-grow: 1;
	padding: 20px;
	overflow-y: auto;
}

.title {
	font-weight: bold;
	font-size: 50px;
	text-align: center;
	color: #ea2f4c;
}

.alphabet {
	display: relative;
	display: grid;
	justify-content: center;
	align-items: center;
	grid-template-columns: repeat(11, 1fr);
	grid-gap: 10px;
}

.letter {
	color: white;
	width: 100%;
	height: 80px;
	background-color: #ea2f4c;
	border-radius: 10px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	transition: all 0.3s ease;
	font-weight: bold;
	box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.25);
}

.letter:hover {
	background: orange;
}

.hira-letter {
	font-size: 30px;
}

.letter.blank {
	background-color: lightgray;
	pointer-events: none;
}

.flashcard-button {
	align-self: center;
	display: block;
	margin: 20px auto;
	border-radius: 15px;
	width: 200px;
	height: 60px;
	background: #eb342d;
	text-align: center;
	line-height: 60px;
	color: white;
	font-weight: bold;
	box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.25);
}

.flashcard-button:hover {
	color: white;
	background: #d81908;
}

.flashcard {
	margin-top: 50px;
}

.drop-menu-nav {
	display: none;
}

@media (max-width: 768px) {
	.learn-nav a i {
		margin: 0;
	}

	.learn-nav a .text {
		display: none;
	}

	.alphabet-nav {
		position: absolute;
		top: 0;
		left: -100px;
		width: 0;
		opacity: 0;
		transition: all 0.5s ease;
	}

	.alphabet-nav.open {
		display: flex;
		left: 0;
		width: 150px;
		opacity: 1;
	}

	.drop-menu-nav {
		display: block;
		width: 40px;
		background-color: transparent;
	}

	.alphabet-table {
		display: block;
	}

	.alphabet {
		grid-auto-flow: column;
		grid-template-rows: repeat(11, 1fr);
		grid-template-columns: repeat(5, 1fr);
	}

	.title {
		padding-top: 0;
	}
}
