.header {
	top: 0;
	position: fixed;
	width: 100%;
	display: flex;
	flex-flow: column;
	height: 115px;
}

.learn-nav {
	top: 0;
	display: flex;
	justify-content: center;
	background-color: #ffb8b1;
	height: 45px;
	width: 100%;
}

.hover-part:hover {
	background-color: orange;
}

.learn-nav a {
	height: 45px;
	flex: 25%;
	text-align: center;
	line-height: 45px;
	font-weight: bold;
	font-size: 14px;
	color: #954a5c;
}

.current {
	background-color: orange;
}

.main {
	padding-top: 115px;
	height: 100vh;
	position: relative;
	justify-content: center;
}

.flashcards-nav {
	margin: 0;
	padding: 0;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
	width: 250px;
	height: 100%;
	list-style-type: none;
	font-weight: bold;
	font-size: 20px;
	color: white;
	text-align: center;
	z-index: 1;
	background: #d76262;
}

.flashcards-word {
	font-weight: bold;
}

.progress-detail {
	color: white;
}

.flashcards-top-1 {
	position: relative;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	padding-bottom: 30px;
}

.flashcards-bot {
	position: relative;
	width: 80%;
	text-align: center;
	border-radius: 10px;
}

.progress-detail {
	display: flex;
	justify-content: space-between;
}

progress::-webkit-progress-value {
	background: #c00734;
}
progress::-webkit-progress-bar {
	background-color: white;
}

.progress-bar {
	position: relative;
	width: 100%;
	border-radius: 20px;
}

.flashcard-container {
	flex: 75%;
	height: 80%;
	display: flex;
	flex-flow: column;
	justify-content: center;
	align-items: center;
}

.flashcard {
	position: relative;
	width: 80%;
	height: 90%;
	transform-style: preserve-3d;
	transition: all 1s ease;
}

.is-active {
	transform: rotateX(180deg);
}

.definition {
	position: absolute;
	height: 100%;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	background: #ef7575;
	font-size: 60px;
	color: white;
	font-weight: bold;
	border-radius: 5%;
	backface-visibility: hidden;
}

.meaning {
	position: absolute;
	height: 100%;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	background: #ef7575;
	font-size: 60px;
	color: white;
	font-weight: bold;
	border-radius: 5%;
	transform: rotateX(180deg);
	backface-visibility: hidden;
}

.arrow {
	display: flex;
	justify-content: center;
	background: white;
	height: 10%;
}

.left-arrow,
.right-arrow {
	background: transparent;
	border: none;
  border-radius: 10px;
	margin: 10px;
}

.drop-menu-header,
.flashcard-progress {
	display: none;
}

.current-flashcard {
	display: flex;
	align-items: center;
	font-size: 20px;
	padding: 0 15px;
}

.disabled {
  background: grey;
  pointer-events: none;
}

@media (max-width: 768px) {
	.flashcards-nav {
		display: none;
	}

	.flashcard-progress {
		display: block;
		padding-bottom: 20px;
    width: 80%;
	}

	.progress-detail {
		color: black;
		font-weight: bold;
	}

	.drop-menu-header {
		display: block;
	}
}
